/* Global */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  padding-top: 30px;
}

/* Dashboard Specific */

.dashboard {
  font-weight: 300;
  font-style: normal;
}

.dashboard header {
  background-color: #c6c0b1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 30px;
}

h1,
h2 {
  margin: 0;
  line-height: normal;
}

h1 {
  letter-spacing: -4px;
  font-weight: 300;
  color: #000;
  font-size: 52px;
  margin-bottom: 4px;
}

h2,
h3,
h4 {
  font-size: 38px;
  letter-spacing: -3px;
  font-weight: 400;
  color: #7b7260;
}

div.category-grid-item {
  background-color: #eeeeee;
  margin-left: 0;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  border-radius: 0;
}

div.category-grid-item-header {
  width: 100%;
  flex-direction: row;
  display: flex;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

div.category-grid-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

div.category-grid-title h3 {
  color: #000;
  text-align: left;
  margin: 0 15px 0 0;
}

div.category-grid-title p {
  margin-bottom: 0;
}

div.category-grid-amount h4 {
  color: #000;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0;
  text-align: right;
  line-height: normal;
}

div.category-view {
  width: 100%;
}

div.category-options {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

div.transaction {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: flex-start;
  border-top: 1px solid #d4d2d2;
  min-height: 100px;
}

div.transaction.hidden div.transaction-amount h5,
div.transaction.hidden div.transaction-title h6:first-of-type {
  text-decoration-line: line-through;
  text-decoration-color: #7b7260;
  text-decoration-thickness: 1px;
}

div.category-grid-item-header:hover,
div.transaction:hover {
  background-color: #f5f5f5;
}

div.transaction-title {
  text-align: left;
}

div.transaction-title h6:last-of-type {
  margin: 14px 0 0;
  display: inline-block;
}

div.transaction-title h6:last-child {
}

div.transaction-amount button {
  position: relative;
  top: 8px;
  display: none;
}

div.transaction:hover div.transaction-amount button {
  display: inline-block;
}

form div.transaction {
  min-height: auto;
}

form div.transaction:hover button {
  display: flex;
}

form div.transaction h2 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #403824;
}

form div.transaction.highlight h2:last-child {
  margin-bottom: 0;
}

form div.transaction h3 {
  margin: 0 0 20px 0;
  text-align: left;
}

form div.transaction h4 {
  font-size: 30px;
  color: #5d5647;
  margin: 0 0 8px;
}

form div.transaction h6 {
  margin-bottom: 8px;
}

div.category-view-header p,
div.transaction-title h6,
div.category-grid-amount h6,
form h6 {
  margin: 0;
  color: #5d5647;
  font-weight: 300;
  font-size: 20px;
}

div.category-view-header p,
div.category-grid-amount h6 {
  text-transform: none;
  letter-spacing: -1px;
  text-align: right;
}

div.category-view-header p {
  text-align: left;
}

div.transaction-amount h5 {
  color: #000;
  font-weight: 300;
  letter-spacing: -2px;
  margin: 0;
  text-align: right;
  font-size: 28px;
}

.banner {
  background-color: #c6573b;
  position: fixed;
  height: 30px;
  top: 0;
  width: 100%;
  padding: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h6 {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/* Buttons */

button.round {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #d9d9d9;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
}

button.large {
  height: 60px;
  width: 60px;
}
button.xlarge {
  height: 90px;
  width: 90px;
}

button.upload {
  position: fixed;
  left: 50%;
  bottom: 20px;
  background-color: #c6573b;
}

button.mini-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 60%;
}

button.mini-icon:hover {
  opacity: 1;
}

div.category-options button.mini-icon {
  margin-right: 0;
  padding-right: 0;
}

div.transaction button.mini-icon {
  padding: 0;
  margin: 0;
}

div.transaction button.mini-icon:first-of-type {
  margin-left: 15px;
  margin-right: 5px;
}

/* Form Elements */

form p {
  margin-bottom: 24px;
  width: 100%;
}

form p:last-of-type {
  margin-bottom: 8px;
}

form label,
form input,
form textarea {
  display: block;
  text-align: left;
  font-size: 20px;
  letter-spacing: -2px;
  font-weight: 400;
  color: #5d5647;
}

form label {
  margin-bottom: 4px;
}

form input,
form textarea,
form p strong,
form select {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #fafafa;
  border: 3px solid rgba(123, 114, 96, 0.7);
  border-top: 0;
  border-right: 0;
  border-radius: 4px;
  padding: 8px 12px;
  color: #403824;
  font-size: 24px;
  margin-bottom: 0;
  letter-spacing: -2px;
  width: 100%;
}

form textarea {
  font-size: 20px;
  height: 64px;
}

form select {
  padding-right: 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  appearance: none; /* Removes default dropdown style */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='20,50 70,100 120,50' fill='none' stroke='%23403824' stroke-width='16'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 24px;
}

form input[type='checkbox'],
form input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fafafa;
  margin: 0 20px 0 0;
  font: inherit;
  color: currentColor;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(123, 114, 96, 0.7);
  border-top: 0;
  border-right: 0;
  display: grid;
  place-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

/* Custom checkbox checkmark */
form input[type='checkbox']::before {
  content: '';
  width: 12px;
  height: 12px;
  transform: scale(0);
  box-shadow: inset 1em 1em #c6573b;
}

form p.inline-input {
  display: flex;
}

form p.inline-input input {
  margin-right: 10px;
}

/* Custom radio dot */
form input[type='radio']::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #403824;
}

/* Show check or dot when checked */
form input[type='checkbox']:checked::before,
form input[type='radio']:checked::before {
  transform: scale(1);
}

form p strong {
  display: block;
  text-align: left;
  background-color: transparent;
  background-color: rgba(250, 250, 250, 0.4);
  border: none;
}

form p.submit-container {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

button.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  padding: 10px 20px;
  border-radius: 4px;
  height: min-content;
  text-align: left;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 400;
  width: auto;
  border-top: 0;
  background-color: rgba(120 112 96 / 0.7);
  color: #fff;
}

form p button.primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  background-color: rgb(198, 87, 59);
  padding: 15px;
  text-align: left;
  font-size: 26px;
  letter-spacing: -2px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

form div.transaction.highlight {
  background-color: #ecedea !important;
  border: none;
  padding: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

form div.transaction:hover {
  background-color: transparent;
}

form div.transaction {
  border: 0;
  border-bottom: 1px solid #969185;
  padding: 0;
  padding-bottom: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

form div.transaction-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

form div.transaction-header h3 {
  font-size: 30px;
  margin: 16px 0;
  text-align: center;
}
